APP_NAME="TMB"
APP_ENV=local
APP_KEY=local
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000
APP_FRONTEND_URL=http://localhost:3000

APP_LOCALE=en
APP_MAINTENANCE_DRIVER=file
BCRYPT_ROUNDS=12

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=tmb
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=file
CACHE_PREFIX=

MAIL_MAILER=smtp
MAIL_HOST=sandbox.smtp.test.io
MAIL_PORT=2525
MAIL_USERNAME=admin@demo.com
MAIL_PASSWORD='146974cd0f4d99'
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=admin@demo.com
MAIL_FROM_NAME="${APP_NAME}"

SESSION_DRIVER=cookie
SANCTUM_STATEFUL_DOMAINS=${APP_FRONTEND_URL}
